@tailwind base;
@tailwind components;
@tailwind utilities;

.card-content {
  @apply max-w-sm rounded overflow-hidden mx-2 border border-gray-300 gap-10 mb-3 shadow-lg;
}
.card-plugin {
  @apply border border-gray-300 m-2 p-3 col-span-1;
}
.card-plugin-header{
  @apply flex flex-row justify-start border-b border-gray-300 pb-2;
}

.bg-home {
  @apply bg-no-repeat bg-center bg-cover;
  background-image: url('https://source.unsplash.com/random?wallpapers');
}


/* regular css */
/* Not Found Page  */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 1rem;
}

.not-found-container h1 {
  font-size: 6rem;
  color: #d9534f;
  margin-bottom: 1rem;
}

.not-found-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.not-found-container p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.not-found-container ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.not-found-container a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s;
}

.not-found-container a:hover {
  color: #0056b3;
}

.not-found-container > ul li{
  list-style-type:none;
}

/* Not Found Page End */

/* scrollbar */
body::-webkit-scrollbar{
  width:0;
  }
.rightDetail::-webkit-scrollbar, .h-cust55::-webkit-scrollbar{
  width: 4px;
  background:rgb(231, 219, 219);
  height: 12px; /* Adjust height for horizontal scrollbar */
}
/* This part changes the color of the slider */
.rightDetail::-webkit-scrollbar-thumb, .h-cust55::-webkit-scrollbar-thumb {
  background: #888; /* Change the color to your preference */
  border-radius: 10px; /* Optional: Add border radius for rounded scrollbar */
}
/* Optional: Add a hover effect */
.rightDetail::-webkit-scrollbar-thumb:hover, .h-cust55::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}
/* scrollbar end */

body {
  height:100%;
}

/* marquee */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  animation: marquee linear infinite;
  white-space: nowrap;
  padding: 0 5rem; /* Adjust this padding to manage the gap between repetitions */
}
/* marquee end */


/*entering side bar from left to right*/

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity:1;
  }
  to {
    transform: translateX(0);
    opacity:1;
  }
}

.slide-in {
  z-index:20;
  animation: slideInFromLeft 0.5s ease forwards;
}

/* regular css end*/


